@charset "UTF-8";

/* stylesheet for einkauf-o-matic */

body                    { font-family: FreeSans, sans; background: #EEE; }
header img              { vertical-align: middle; }
header h1               { font-size: 32pt; }
footer                  { text-align: right; }
section                 { margin: 2em auto; width: 35em; border: 5px solid #CCC; padding: 0.8em; background: #FFF; }
a, h1, h2               { color: #377BA8; }
h1, h2                  { margin: 0; }
h1                      { border-bottom: 2px solid #EEE; }
h2                      { font-size: 1.2em; }
table                   { border-collapse: collapse; }
table th+th             { border-left: 1pt solid black; }
table td+td             { border-left: 1pt solid lightgray; }
table tr                { border-bottom: 1pt solid lightgray; }
table tr:first-child    { background-color: lightgray; border-top: 1pt solid black; border-bottom: 1pt solid black; }
table th                { font-weight: bold; }
table td                { padding: 3pt; }


.entries                { list-style: none; margin: 0; padding: 0; }
.entries li             { margin: 0.8em 1.2em; }
.entries li h2          { margin-left: -1em; }
.add-entry              { font-size: 0.9em; border-bottom: 1px solid #CCC; }
.add-entry dl           { font-weight: bold; }
.metanav                { text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #FAFAFA; }
.flash                  { background: #CEE5F5; padding: 0.5em; border: 1px solid #AACBE2; }
.error                  { background: #F0D6D6; padding: 0.5em; }
.g                      { position: absolute; top: 1; right: 0; }