{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <p><a href="{{ url_for('show_stores') }}">Back</a></p>
        <form action="{{ url_for('add_store') }}" method="post" class="add-store">
            <dl>
                <dt>Name:</dt>
                <dd><input type="text" size="32" name="name" /></dd>
                <dt>URL:</dt>
                <dd><input type="text" size="32" name="url" /></dd>
                <dt>Minimal order (USD):</dt>
                <dd><input type="number" name="minorder" min="0" step="1" /></dd>
                <dt>State:</dt>
                <dd><input type="text" size="3" name="state" /></dd>
                <dt>Currency:</dt>
                <dd><input type="text" size="3" name="currency" /></dd>
                <dt>Shipping:</dt>
                <dd><input type="number" size="5" min="0" step="0.01" name="shipping" /></dd>
                <dt>Comment:</dt>
                <dd><input type="text" size="32" name="comment" value="" /></dd>
                <dd><input type="submit" value="Add"></dd>
            </dl>
        </form>
    {% else %}
        <p>You must be logged in to see something useful here.</p>
    {% endif %}
{% endblock %}