{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_queue') }}" method="post" class="add-queue">
            <dl>
                <dt>Title:</dt>
                <dd><input type="text" size="30" name="title" /></dd>
                <dt>Deadline:</dt>
                <dd><input type="text" size="30" name="deadline" /></dd>
                <dt>Store:</dt>
                <select name="store">
                {% for store in stores %}
                    <option value="{{ store.id }}">{{ store.name }}</option>
                {% else %}
                    <dd><em>Sorry you have to add a <a href="{{ url_for('add_store') }}">store</a> first.</em></li>
                {% endfor %}
                </select>
                <dd><input type="submit" value="Share"></dd>
            </dl>
        </form>
    {% endif %}
    {% if queues %}
        <p>There are {{ queues|count }} queues at the moment:</p>
        <table class="queues">
            <tr>
                <th>Title</th>
                <th>Deadline</th>
            </tr>
        {% for queue in queues %}
            <tr>
                <td>{{ queue.title }}</td>
                <td>{{ queue.deadline|safe }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <li><em>Unbelievable. No queues here so far</em></li>
    {% endif %}
{% endblock %}