{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <p><a href="{{ url_for('add_queue') }}">Add queue</a></p>
        <p><a href="{{ url_for('show_stores') }}">Stores</a></p>
        {% if queues %}
            <p>There are {{ queues|count }} queues at the moment:</p>
            <table class="queues">
                <tr>
                    <th>Title</th>
                    <th>Store</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th />
                </tr>
            {% for queue in queues %}
                <tr>
                    <td><a href="{{ url_for('show_queue', queue_id=queue.id) }}">{{ queue.title }}</a></td>
                    <td>{{ queue.store }}</td>
                    <td>{{ queue.deadline }}</td>
                    <td>{{ queue.status }}</td>
                    <td>{{ queue.owner }}</td>
                    {% if session.member == queue.owner %}
                        <td><a href="{{ url_for('edit_queue', queue_id=queue.id) }}"><img src="{{ url_for('static', filename='edit.png') }}" alt="edit" /></a></td>
                    {% else %}
                        <td />
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <li><em>Unbelievable. No queues here so far</em></li>
        {% endif %}
    {% else %}
        <p>You must be logged in to see something useful here.</p>
    {% endif %}
{% endblock %}