{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <p><a href="{{ url_for('show_queues') }}">Back</a></p>
        <p><a href="{{ url_for('add_store') }}">Add store</a></p>
        <ul class="stores">
        {% for store in stores %}
            <li><a href="{{ store.url|safe }}">{{ store.name }}</a> - Min. order: {{ store.minorder }} USD</li>
        {% else %}
            <li><em>Unbelievable. No stores here so far</em></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You must be logged in to see something useful here.</p>
    {% endif %}
{% endblock %}