{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <p><a href="{{ url_for('add_queue') }}">Add queue</a></p>
        <p><a href="{{ url_for('show_stores') }}">Stores</a></p>
        {% if queues %}
            <p>There are {{ queues|count }} queues at the moment:</p>
            <table class="queues">
                <tr>
                    <th>Title</th>
                    <th>Deadline</th>
                </tr>
            {% for queue in queues %}
                <tr>
                    <td>{{ queue.title }}</td>
                    <td>{{ queue.deadline|safe }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <li><em>Unbelievable. No queues here so far</em></li>
        {% endif %}
    {% else %}
        <p>You must be logged in to see something useful here.</p>
    {% endif %}
{% endblock %}