{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <p><a href="{{ url_for('show_queues') }}">Back</a></p>
        <p><a href="{{ url_for('add_store') }}">Add store</a></p>
        <p>There are {{ stores|count }} stores in the db:</p>
        <table class="stores">
            <tr>
                <th>Name</th>
                <th>Min. order</th>
                <th>State</th>
                <th>Currency</th>
                <th>Shipping</th>
                <th>Comment</th>
                <th>&nbsp;</th>
            </tr>
        {% for store in stores %}
            <tr>
                <td><a href="{{ store.url }}">{{ store.name }}</a></td>
                {% if store.minorder > 0 %}
                    <td>{{ store.minorder }}</td>
                {% else %}
                    <td>none</td>
                {% endif %}
                <td>{{ store.state }}</td>
                <td>{{ store.currency }}</td>
                <td>{{ store.shipping }}</td>
                <td>{{ store.comment }}</td>
                <td>&nbsp;</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>You must be logged in to see something useful here.</p>
    {% endif %}
{% endblock %}